:root {
    --mainColor:linear-gradient(90deg, #0093e9 0%, #80d0c7 100%);
    --secondColor: #004953; 
    --thirdColor: #fff;
}

body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: var(--mainColor);
    margin-top: 5%;
}

.container {
    height: 100%;
    width: 450px;
    background-color: var(--thirdColor);
    border-radius: 20px;
    /* padding: 30px; */
}

h1 {
    background: var(--secondColor);
    color: var(--thirdColor);
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 900;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    text-align: center;
}

#totalTip {
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
}

#totalTip sup {
    font-size: 1.5rem;
    font-weight: 900;
}

.billAmountInput,
.service,
.peopleAmtInput {
    display: flex;
    justify-content: center;
}

.billAmt {
    padding: 10px;
}

.billAmt:focus {
    outline: none;
}

#serviceSelector {
    padding: 10px;
}

#serviceSelector:focus {
    outline: none;
}

.peopleAmt {
    padding: 10px;
}

.peopleAmt:focus {
    outline: none;
}

button {
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    background: var(--secondColor);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    color: var(--thirdColor);
    outline: none;
}

button:hover {
    background: var(--mainColor);
    border-bottom-color: #000;
}

button:active {
    position: relative;
    /* button will move up and down a little bit */
    top: 1px;
}

p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}

@media(max-width: 600px) {
    .container {
    height: 100%;
    width: 95%;
    background: var(--thirdColor);
    border-radius: 20px;
    }
}